@import 'colors';

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-padding-top: 82px;
}

body {
	position: relative;
	font-family: 'Montserrat', sans-serif;
	background-color: $bg-color;
}

.underline {
	margin: 0 auto 40px;
	width: 60px;
	height: 4px;
	background-color: $main-color;
}

.blue-text {
	color: $main-color;
}

h2 {
	text-align: center;
	text-transform: uppercase;
}

.shadow-bg {
	background-color: rgba(0, 0, 0, 0.8);
}

nav {
	text-transform: uppercase;
	transition: background-color 0.6s;

	a,
	i {
		color: $white;
	}

	a:hover {
		color: $main-color;
	}

	.fa-bars {
		padding: 10px;
	}

	.navbar-brand {
		font-weight: bold;
	}

	.active {
		color: $main-color;
	}
}

header {
	color: $white;

	h1 {
		text-transform: uppercase;
		font-size: 30px;
	}

	p {
		font-size: 14px;
	}

	.hero-ing {
		position: relative;
		height: 100vh;
		background-image: url(/BootstrapPage/img/gaming-g6c5421b57_640.jpg);
		background-position: center;
		background-size: cover;
		background-attachment: fixed;
		z-index: 0;
	}

	.hero-shadow {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.8);
		z-index: -10;
	}

	.hero-text {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		height: 100%;
		padding: 10px;
		text-align: center;
		z-index: 5;
	}

	.btn-outline-light {
		text-transform: uppercase;
	}

	.fa-chevron-down {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		font-size: 30px;
		bottom: 20px;
		color: $white;
	}
}

.aboutus {
	i {
		margin-top: 20px;
		font-size: 30px;
	}

	.aboutus-card-tittle {
		font-size: 18px;
		text-transform: uppercase;
	}

	.about-card-text {
		font-size: 14px;
	}

	.aboutus-hover {
		transition: color 0.3s;
	}

	.aboutus-hover:hover {
		color: $main-color;
	}
}

.aboutus-hero {
	position: relative;
	background-image: url('/BootstrapPage/img/laptop-g1afee1c7d_640.jpg');
	background-position: center;
	background-size: cover;
	color: $light-grey;
	z-index: 0;

	.aboutus-shadow {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.7);
		z-index: -5;
	}

	.aboutus-hero-item {
		margin: 10px 0;

		i {
			font-size: 36px;
		}

		.aboutus-hero-title {
			font-size: 24px;
		}
	}
}

.portfolio {
	.carousel-item {
		height: 600px;
		// background-size: cover;
		// background-attachment: fixed;
	}

	.carousel-caption {
		position: absolute;
		left: 0;
		right: 0;
		padding: 40px 0;
		background-color: rgba(0, 0, 0, 0.8);
	}

	.carousel-indicators {
		padding-bottom: 20px;
	}
}

.prices {
	text-align: center;
	.price-box {
		margin: 20px 10px;
		padding: 30px;
		transform: perspective(180em) rotateX(18deg);
		box-shadow: rgba(22, 31, 39, 0.42) 0px 60px 123px -25px,
			rgba(19, 26, 32, 0.08) 0px 35px 75px -35px;
		border-radius: 10px;
		border: 1px solid;
		border-color: rgb(213, 220, 226) rgb(213, 220, 226) rgb(184, 194, 204);
		transition: transform .3s;
	}

	h3{
		color: $main-color;
		text-transform: uppercase;
	}

	span{
		font-weight: bold;
	}

	i{
		padding: 0 5px;
		font-size: 24px;
	}

	button{
		padding: 10px 20px;
		text-transform: uppercase;
	}

	.price-tag{
		font-size: 30px;
		font-weight: bold;
	}

	.price-box:hover {
		transform: translate3d(0px, 0px, -250px) scale(1.05);
	  }

	  .price-info{
		  margin-top: 30px;

		  a{
			  text-decoration: none;
		  }
	  }
}

.team{
		position: relative;
		background-image: url('/BootstrapPage/img/office-g005aa7a40_640.jpg');
		background-size: cover;
		background-attachment: fixed;
		z-index: 0;

		h2{
			color: $light-grey;
		}

		.team-shadow{
			position: absolute;
			top: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.8);
			z-index: -5;
		}

		.card{
			transition: transform .3s;

			ing{
				height: 300px;
				object-fit: cover;
			}

			i{
				padding: 10px;
			}
		}
		.card:hover {
			transform: scale(.96);
		}
		.card-tittle{
			margin-bottom: 20px;
			text-align: center;
			text-transform: uppercase;
		}

		// .card-body{
		// 	height: 170px;
		// }
}

.achievements{
	i{
		padding: 10px;
		font-size: 48px;
		color: $white;
		text-shadow: 0 0 5px #000;
	}

	.achievements-list{
		padding: 20px 0;
	}

	.achievement-number{
		font-size: 22px;
	}

	.achievement-text{
		font-size: 13px;
		text-transform: uppercase;
	}
}

@media (min-width: 375px) {
	header {
		h1 {
			font-size: 36px;
		}

		p {
			font-size: 16px;
		}
	}
}

@media (min-width: 768px) {
	header {
		h1 {
			font-size: 42px;
		}

		p {
			font-size: 20px;
		}
	}
}

@media (min-width: 992px) {
	html {
		scroll-padding-top: 72px;
	}

	.aboutus-hero {
		background-image: url('/BootstrapPage/img/laptop-g3121e1201_1920.jpg');
	}

	.prices{
		.price-info{
			font-size: 18px;
		}
	}
}

@media (min-width: 1200px) {
	header {
		.hero-ing {
			background-image: url('/BootstrapPage/img/gaming-g50d88ca49_1920.jpg');
		}
	}
}
